.postCard {
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    flex: 1;
    padding: 16px;
  }
  
  .postHeader {
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    display: flex;
  }
  
  .postProfileImg {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  .postAuthorInfo {
    flex: 1;
  }
  
  .postAuthorName {
    color: #0f1419;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }
  
  .postDate {
    color: #536471;
    font-size: 12px;
  }
  
  .moreButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .postContent {
    color: #0f1419;
    margin-bottom: 16px;
    font-size: 16px;
  }
  
  .postActions {
    align-items: center;
    gap: 24px;
    display: flex;
  }
  
  .actionItem {
    color: #536471;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    display: flex;
  }
  
  .bookmarkButton {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  