.reviewsCard {
  background-color: #fff;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 24px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  height: 80vh; /* Adjusted for scrollable space */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* Firefox: Hide scrollbar */
}

.reviewsCard::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in WebKit browsers */
}

.reviewsHeader {
  color: #3d4d55;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.reviewsGrid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Responsive Layout */
@media (max-width: 640px) {
  .reviewsCard {
    height: 70vh; /* Adjust the height for small screens */
  }
}
