@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

.rightComponent {
  width: 55%;
  background: linear-gradient(to bottom, #0F212D, #38A1AC);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; /* Make text bold */
}

.signupCard {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold; /* Make text bold */
}

.cardTitle {
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  color: #D89362;
  padding-bottom: 1rem;
  text-decoration: none;
}

.signupButton,
.loginButton {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold; /* Make text bold */
}

.signupButton {
  background-color: #3D4D55;
  color: white;
  font-weight: bold; /* Make text bold */
}

.signupButton:hover {
  background-color: #2C3A40; /* Darker color on hover */
  font-weight: bold; /* Make text bold */
}

.loginButton {
  background-color: white;
  color: #3D4D55;
  border: 2px solid #3D4D55;
  margin-bottom: 1.5rem;
  font-weight: bold; /* Make text bold */
}

.loginButton:hover {
  background-color: #D3D3D3; /* Light grey color on hover */
  color: #3D4D55;
  font-weight: bold; /* Make text bold */
}

.termsText {
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
  color: #666;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-weight: bold; /* Make text bold */
}

.link {
  color: #38A1AC;
  text-decoration: underline;
  transition: color 0.3s ease; /* Add smooth transition */
  font-weight: bold; /* Make text bold */
  font-family: 'Inter', sans-serif;
}

.link:hover {
  color: #286F77; /* Darker version of #38A1AC */
  font-weight: bold; /* Make text bold */
}
