.container {
    max-width: 747px;
    margin: 0 auto 20px;
  }
  
  @media (max-width: 640px) {
    .container {
      padding: 0 15px;
    }
  }
  
  .header {
    color: #fff;
    justify-content: space-between;
    margin-bottom: 15px;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
  }
  
  .progressBar {
    background-color: #e9e9e9;
    border-radius: 5px;
    height: 10px;
    position: relative;
  }
  
  .progressFill {
    background-color: #00aaba;
    border-radius: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  