@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  background: linear-gradient(to bottom, #3C4A53, #0F212D);
  overflow: hidden;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem 2rem;
  height: 100%;
  overflow: hidden;
  justify-content: flex-start;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: #D89362;
  text-decoration: none; 
  margin-bottom: 2rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}

.title {
  font-size: 2.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
  color: white;
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.card {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  padding: 1.5rem;
  width: 450px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid transparent;
  transition: border-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.card:hover, .card.selected {
  border-color: #00AABA;
  transform: translateY(-5px);
}

.cardLogo {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
  transition: filter 0.3s ease;
}

.card:hover .cardLogo, .card.selected .cardLogo {
  filter: brightness(0) saturate(100%) invert(47%) sepia(82%) saturate(4164%) hue-rotate(165deg) brightness(94%) contrast(101%);
}

.cardTitle {
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #333;
  transition: color 0.3s ease;
}

.cardDescription {
  font-size: 1.0rem;
  font-family: 'Inter', sans-serif;
  color: #555;
  line-height: 1.6;
  transition: color 0.3s ease;
}

.card:hover .cardTitle, .card.selected .cardTitle {
  color: #00AABA;
}

.card:hover .cardDescription, .card.selected .cardDescription {
  color: #00AABA;
}

.signupButton {
  background-color: #D89362;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1.2rem 2.5rem;
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 1.5rem;
  width: auto;
  min-width: 220px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signupButton:hover {
  background-color: #c07a49;
  transform: translateY(-2px);
}

.message {
  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
