.container {
    width: 520px;
    margin: 0 auto;
  }
  
  .header {
    text-align: left;
    margin-bottom: 30px;
  }
  
  .title {
    color: #fff;
    letter-spacing: 0.32px;
    margin-bottom: 14px;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-weight: 600;
  }
  
  .description {
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 16px;
  }
  
  .form {
    width: 100%;
  }
  
  @media (width <= 991px) {
    .container {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (width <= 640px) {
    .title {
      font-size: 24px;
    }
  }
  