@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.selectWrapper {
  position: relative;
}

.select {
  padding: 8px 10px;
  border-radius: 6px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

/* .selectWrapper::after {
  content: '▼';
  font-size: 10px;
  color: #666;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
} */
