@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: -8px;
  background: linear-gradient(#3c4a53, #0f212d);
  padding: 2rem;
  font-family: 'Inter', sans-serif;
}

.formContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.form {
  max-width: 42rem;
  width: 100%;
  padding: 2.5rem;
  font-family: 'Inter', sans-serif;
}

/* Title and Subtitle */
.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #d1d5db;
  font-family: 'Inter', sans-serif;
}

.subtitle {
  font-size: 1.2rem;
  color: #d1d5db;
  margin-bottom: 2rem;
  font-family: 'Inter', sans-serif;
}

/* Form Fields */
.inputField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
  font-family: 'Inter', sans-serif;
}

.inputLabel {
  font-size: 1.1rem;
  font-weight: 500;
  color: #d1d5db;
  font-family: 'Inter', sans-serif;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 1px solid #e5e7eb;
  font-size: 1.1rem;
  color: black;
  font-family: 'Inter', sans-serif;
}

.input:focus {
  outline: none;
  border-color: #d97706;
  box-shadow: 0 0 0 0.25rem rgba(255, 170, 0, 0.25);
}

/* Custom Multi-Select Dropdown */
.dropdownWrapper {
  position: relative;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.tagsInput {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: white;
  gap: 0.5rem;
  min-height: 46px;
  font-family: 'Inter', sans-serif;
}

.tag {
  background-color: #d97706;
  color: white;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: 'Inter', sans-serif;
}

.remove {
  margin-left: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
}

.searchInput {
  border: none;
  flex: 1;
  min-width: 100px;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
  color: black;
  font-family: 'Inter', sans-serif;
}

.dropdownList {
  position: absolute;
  list-style-type: none;
  top: 100%;
  left: 0;
  z-index: 10;
  background: white;
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  max-height: 150px;
  overflow-y: auto;
  margin-top: 4px;
  font-family: 'Inter', sans-serif;
}

.dropdownItem {
  cursor: pointer;
  transition: background 0.2s;
  color: black;
  font-family: 'Inter', sans-serif;
}

.dropdownItem:hover {
  background-color: #f3f4f6;
}
