.container {
    max-width: 1200px;
    height: 560px;
    position: relative;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .activeTab {
    font-weight: bold;
    border-bottom: 4px solid #00AABA;
    padding-bottom: 5px;
    cursor: pointer;
    color: #000000;
  }
  
  .inactiveTab {
    color: #888;
    cursor: pointer;
    padding-bottom: 5px;
  }
  
  .inactiveTab:hover {
    color: #3D4D55;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .inputGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .inputGroup label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .inputGroup input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .inputGroup input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .withdrawLink {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .withdrawLink:hover {
    text-decoration: underline;
  }
  
  .saveButton {
    width: 80px;
    padding: 12px;
    background: #3D4D55;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: absolute; /* Positioned relative to the parent container */
    bottom: 20px; /* 20px from the bottom of the container */
    right: 20px; /* 20px from the right of the container */
  }
  
  .saveButton:hover {
    background: #0056b3;
  }
  